// Mixin for centering containers//

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//Mixin for Image Postion//

@mixin img-position {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%; 
}

// Border Radius with Padding //

@mixin border-rad($pad-tb, $pad-lr, $br) {
    padding: $pad-tb $pad-lr;
    border-radius: $br;
}