//=====================================================================================================// 
//                                  Color Variables                                                    //
//=====================================================================================================// 

$color-primary:         #58e1c1;        // viking (green) - for primary headlines, borders, nav-link:hover background
$color-secondary:       #777;           // boulder (grey) - for default base color, secondary headlines
$color-links:           #51ddfc;        // malibu (blue) - for links, default background for button, theme col-11
$color-error:           #e4757a;        // sunglo-red - error background for button & theme col-9
$color-info:            #927bc1;        // purple-mountain's-majesty - info background for button & theme col-1
$color-success:         #63cc82;        // emerald - success background for button & col-10
$color-warning:         #fd7856;        // coral - warning background for button & theme col-2

$color-white:           #fff;           // for button & nav-link:hover
$color-french-lilac:    #deb2ee;        // for theme col-3
$color-anakiwa-blue:    #7ee6fd;        // for theme col-4
$color-vista-blue:      #88d9a0;        // for theme col-5
$color-fountain-blue:   #4da2bb;        // for theme col-6
$color-sea-pink:        #ec9fa3;        // for theme col-7
$color-vivid-tangerine: #fd9f85;        // for theme col-8
$color-riptide:         #80e8d1;        // for theme col-12
$color-silver:          #ccc;           // for img-frame border 



//Themes Map//

$themes: (
    'col-1':  #927bc1, 
    'col-2':  #fd7856, 
    'col-3':  #deb2ee, 
    'col-4':  #7ee6fd,
    'col-5':  #88d9a0, 
    'col-6':  #4da2bb, 
    'col-7':  #ec9fa3, 
    'col-8':  #fd9f85,  
    'col-9':  #e4757a, 
    'col-10': #63cc82, 
    'col-11': #51ddfc, 
    'col-12': #80e8d1,
);


//=====================================================================================================// 
//                             Media Query Breakpoints                                                 //
//=====================================================================================================// 

$brk-narrow: '(min-width: 768px)';