/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    text-transform: uppercase;
     @include border-rad($pad-tb: 10px, $pad-lr: 0, $br: 5px);
  }
  
  .default {
    background-color: $color-links;
  }
  
  .error {
    background-color: $color-error;
  }
  
  .info {
    background-color: $color-info;
  }
  
  .success {
    background-color: $color-success;
  }
  
  .warning {
    background-color: $color-warning;
  }
  