/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
    &-avatar {
    @include img-position;
    max-height: 100%;
    }

    &-frame {
      @include img-position;
      padding: 13px;
      border: 1px solid $color-silver;
    }
    
    &-logo {
      @include center;
    }

  }



  
  